@{
    ViewData["Title"] = "My Conferences";

    var userJson = HttpContextAccessor.HttpContext.Session.GetString("user");
    ApplicationUser user = null;
    if (userJson != null)
    {
        user = JsonConvert.DeserializeObject<ApplicationUser>(userJson);
    }
}

@model IEnumerable<Econference.Models.Conference>


<section class="container-fluid">
    <a asp-action="RegisterConference" asp-controller="User" asp-route-userId="@user.Id" class="btn btn-outline-success mb-1">New</a>
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var conference in Model)
            {
                <div class="col-md-4">
                    <div class="card card-deck mb-4">
                        <div class="card-body">
                            <h5 class="card-title">@conference.Title</h5>
                            <small class="text-muted">
                                @conference.Description
                            </small>
                            <hr/>
                            <h6 class="card-subtitle mb-2 text-muted">@conference.StartDate . @conference.StartTime  - @conference.EndDate . @conference.EndTime</h6>
                            <p class="card-text">
                                <small class="text-muted">
                                    Participants: @conference.ParticipantCount
                                </small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Status: @conference.Status
                                </small>
                            </p>
                            <hr />
                            <p class="card-subtitle mb-2 text-muted">Catering Services</p>
                            @if (@conference.Bookings.Count==0 || @conference.Bookings.FirstOrDefault().Cater == null)
                            {
                                <p class="card-text">No catering services</p>
                            }else
                            {
                                <p>
                                    <small class="text-muted">
                                        Service Provider: @conference.Bookings.FirstOrDefault().Cater.ProviderName
                                    </small>
                                </p>
                                <p class="card-subtitle mb-2 text-muted">MENU</p>
                                <p class="card-text">
                                    @Html.Raw(conference.Bookings.FirstOrDefault().Cater.Menu.Replace("\n", "<br />"))
                                </p>
                            }
                            <hr />
                            <p class="card-subtitle mb-2 text-muted">Equipment</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    @Html.Raw(conference.Equipment.Replace("\n", "<br />"))
                                </small>
                            </p>
                            <hr />

                            <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                            @if (@conference.Hall == null)
                            {
                                <p class="card-text">Venue to be confirmed</p>
                            }else
                            {
                                <p class="card-text">@conference.Hall.BuildingName, @conference.Hall.BuildingFloor room number @conference.Hall.RoomNumber </p>
                            }
                            <hr/>
                            <div class="d-flex">
                                @if (conference.Status.Equals("Pending"))
                                {
                                    <a asp-action="BookConferenceSpace" asp-controller="User" asp-route-id="@conference.Id" class="link-primary p-2">Request Space</a>
                                }
                                <a asp-action="UpdateConference" asp-controller="User" asp-route-id="@conference.Id" class="link-warning p-2">Update</a>
                                <a asp-action="DeleteConference" asp-controller="User" asp-route-id="@conference.Id" class="link-danger p-2">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No conferences found.</p>
    }

</section>
